@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,600&family=Lato:ital@1&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,600&family=Roboto+Condensed:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
}
/* header css start */
.header {
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header a {
  position: fixed;
  color: royalblue;
  margin-left: 8%;
  font-family: "IBM Plex Sans", sans-serif;
  text-decoration: none;
  width: 20%;
  font-size: 4rem;
}
.search-area {
  right: 0;
  position: fixed;
  margin-right: 2%;
  border: 2px solid rgba(218, 210, 210, 0.507);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 170px;
  height: 50px;
  box-sizing: border-box;
  box-shadow: 2px 2px 30px #908c8c;
}
.searchBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  width: 160px;
  height: 50px;
}
.searchBox .fa-search {
  color: royalblue;
  font-size: 20px;
}
input[type="search"] {
  border: 0;
  height: 30px;
  width: 90px;
  font-size: 1rem;
  color: rgb(49, 48, 48);
  font-family: calibri;
}
/* header css end */

/* main-content css start */
.main-content {
  margin-bottom: 105px;
  height: 78vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-content {
  position: fixed;
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icon {
  box-shadow: 2px -2px 30px #908c8c;
  box-sizing: border-box;
  border-radius: 30px;
  position: absolute;
  top: 30%;
  height: 220px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-icon .fab {
  padding: 15px 5px;
  font-size: 1.25rem;
  color: #94949c;
  transition: 0.3s all;
}
.social-icon .fab:hover {
  font-size: 2.2rem;
  color: #5144df;
}
.right-section {
  box-shadow: 5px -5px 40px rgb(167 158 245 / 20%);
  width: 90%;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row img {
  margin-left: 10%;
  width: 700px;
  height: 400px;
}
.text-section {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 35%;
}
.text-section h1 {
  font-family: roboto;
  font-size: 4.4rem;
  display: block;
  text-align: left;
  letter-spacing: 35px;
}
.text-section h2 {
  font-family: roboto;
  font-size: 4.4rem;
  display: block;
  text-align: left;
  letter-spacing: 3px;
}
.text-color {
  font-family: sans-serif;
  color: royalblue;
}
.buy-btn {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1rem;
  border: 0;
  margin: 0;
  outline: 0;
  color: white;
  border-radius: 20px;
  background-color: #2f2e41;
  display: inline-block;
  text-transform: uppercase;
  height: 50px;
  width: 150px;
  padding: 10px 15px;
  transition: 0.4s all;
  cursor: pointer;
}
.buy-btn:hover {
  background-color: royalblue;
}

/* main-content css end */
/* product-section css start */

.product-section {
  box-shadow: 5px 5px 40px rgb(167 158 245 / 20%);
  width: 90%;
  margin: 5px auto;
  height: 98vh;
  padding: 20px 5px;
}
.heading {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading h2 {
  display: block;
  font-size: 3.2rem;
  text-align: center;
}
.product {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.product-box {
  transition: 0.5s;
  border-radius: 30px 2px;
  position: relative;
  padding: 5px 10px;
  border: 1px solid #8d88e0d0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 330px;
  width: 250px;
  margin: 20px 20px;
}
.product-box img {
  padding: 5px 10px;
  height: 180px;
  width: 96%;
}
.product-box > p {
  color: #948dd8dc;
}
.product-box .currency {
  text-decoration: none;
  color: black;
}
.btn {
  border: 1px solid rgba(107, 138, 230, 0.835);
  position: absolute;
  bottom: -5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: serif;
  font-weight: 600;
  font-size: 0.8rem;
  outline: 0;
  color: black;
  border-radius: 10px 2px;
  background-color: white;
  text-transform: uppercase;
  height: 30px;
  width: 100px;
  padding: 5px 10px;
  transition: 0.4s all;
  cursor: pointer;
}

.product-box:hover {
  border-radius: 2px 30px;
  box-shadow: 5px 10px 8px 5px #d1ccccc0;
}
.btn:hover {
  box-shadow: 5px 10px 8px 5px #dfdfdf;
}

/* product-section css end */
/* about section css start */
.about-section {
  margin-bottom: 50px;
  margin-top: 50px;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-right-section {
  /* box-shadow: 5px -5px 40px rgb(167 158 245 / 20%); */
  width: 90%;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-right-section img {
  width: 900px;
  height: 700px;
  margin-left: 40px;
}
.about-text-section {
  margin-left: 10%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 55%;
}
.about-text-section h1 {
  word-spacing: 26px;
  font-family: roboto;
  font-size: 4.4rem;
  display: block;
  text-align: left;
  letter-spacing: 27px;
  margin-bottom: 5px;
  text-align: justify;
}
.about-text-section h2 {
  margin-bottom: 10px;
  font-family: roboto;
  font-size: 2rem;
  display: block;
  text-align: left;
  letter-spacing: 6px;
}
.about-text-section p {
  font-size: 1rem;
  text-align: justify;
  text-transform: none;
}
.about-text-color {
  font-family: sans-serif;
  color: royalblue;
}
.about-buy-btn {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1rem;
  border: 1px solid royalblue;
  margin-bottom: 10px;
  outline: 0;
  color: royalblue;
  border-radius: 20px;
  display: inline-block;
  text-transform: uppercase;
  height: 60px;
  width: 600px;
  padding: 10px 15px;
  transition: 0.4s all;
  cursor: pointer;
}

/* about section css end */
